.body {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
}

#result-display {
    text-align: right;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
}

.number-buttons {
    display: grid;
}